h2 {
  font-size: 1.2rem;
}

/* ************************************************************ */
/*----------------------- Dashboard Page ------------------------*/
.dashboardCont {
  display: flex;
  height: 100vh;
}
.dashboardBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(187, 187, 187); */
}

/* ************************************************************ */
/*----------------------- Task Page ------------------------*/
.taskCont {
  display: flex;
  height: 100vh;
}
.taskBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(197, 32, 32); */
}

/* ************************************************************ */
/*----------------------- Issue Page ------------------------*/
.issueCont {
  display: flex;
  height: 100vh;
}
.issueBox {
  width: 96%;
  height: 70%;
  /* background-color: rgb(27, 165, 245); */
}

/* ************************************************************ */
/*----------------------- Notification Page ------------------------*/
.notiCont {
  display: flex;
  height: 100vh;
}
.notiBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(0, 70, 136); */
}

/* ************************************************************ */
/*----------------------- Setting Page ------------------------*/
.settingCont {
  display: flex;
  height: 100vh;
}
.settingBox {
  display: flex;
  width: 90%;
  height: 70%;
  /* background-color: rgb(168, 0, 93); */
}
.settingBoxLeft {
  flex: 1;
}
.settingBoxRight {
  flex: 3;
}
.settingBoxRight h3 {
  font-size: 1.5rem;
}
.settingBoxRight h4 {
  font-size: 1.1rem;
}
.details {
  display: inline;
  font-weight: 500;
}
