h2 {
  font-size: 1.2rem;
}

/* ************************************************************ */
/*----------------------- Dashboard Page ------------------------*/
.dashboardCont {
  display: flex;
  height: 100vh;
}
.dashboardBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(187, 187, 187); */
}

/* ************************************************************ */
/*----------------------- Driver Page ------------------------*/
.driverCont {
  display: flex;
  height: 100vh;
}
.driverBox {
  width: 96%;
  height: 70%;
  /* background-color: rgb(42, 114, 0); */
}
/*--------- animation ----------*/
th,
td,
tr {
  position: relative;
  opacity: 0;
  transform: translateY(-100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.settingBox {
  position: relative;
  opacity: 0;
  transform: translateY(100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.table {
  width: 100%;
}
.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(22, 172, 30);
}
.table_header p {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.searchBoxx {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}
button {
  color: #282644;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}
.table_section {
  height: 500px;
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  min-width: 900px;
  border-collapse: collapse;
}
thead th {
  position: sticky;
  top: 0;
  background-color: #282644;
  color: #fff;
  font-size: 15px;
}
tr {
  font-weight: 500;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  word-break: break-all;
  text-align: center;
}

td img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ccc;
}
tr {
  background-color: #ffffff;
}
tr:hover {
  background-color: #e6e6e6;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ************************************************************ */
/*----------------------- Support Team Page ------------------------*/
.supportteamCont {
  display: flex;
  height: 100vh;
}
.supportteamBox {
  width: 96%;
  height: 70%;
  /* background-color: rgb(228, 255, 73); */
}

/* ************************************************************ */
/*----------------------- Task Page ------------------------*/
.taskCont {
  display: flex;
  height: 100vh;
}
.taskBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(197, 32, 32); */
}

/* ************************************************************ */
/*----------------------- Issue Page ------------------------*/
.issueCont {
  display: flex;
  height: 100vh;
}
.issueBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(27, 165, 245); */
}
.formBox {
  height: 500px;
  display: flex;
  justify-content: center;
}

/* .container {
    position: relative;
    max-width: 700px;
    width: 100px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  } */

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: black;
}

.form .input-box input,
.form .input-box select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.form .input-box select {
  cursor: pointer;
}

.input-box input:focus,
.input-box select:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .btn {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  margin-top: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  background-color: #00a941;
  transition: all 0.2s ease;
}

.form .btn:hover {
  background-color: #0cc652;
}

#cutom-botton {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  cursor: pointer;
}
.uploadImg {
  color: #fff;
  cursor: pointer;
}

/* Hide the original file input */
input[type="file"] {
  display: none;
}

/* Style the custom label */
.custom-file-upload {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Change background color on hover */
.custom-file-upload:hover {
  background-color: #45a049;
}

/* ************************************************************ */
/*----------------------- Notification Page ------------------------*/
.notiCont {
  display: flex;
  height: 100vh;
}
.notiBox {
  width: 90%;
  height: 70%;
  /* background-color: rgb(0, 70, 136); */
}

/* ************************************************************ */
/*----------------------- Setting Page ------------------------*/
.settingCont {
  display: flex;
  height: 100vh;
}
.settingBox {
  display: flex;
  width: 90%;
  height: 70%;
  /* background-color: rgb(168, 0, 93); */
}
.settingBoxLeft {
  flex: 1;
}
.settingBoxRight {
  flex: 3;
}
